           
<!-- Footer -->
<footer class="page-footer font-small bg-dark text-white pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row ">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Contact Me</h5>
        <p>{% load static %}<img width="30" height="30" src="{% static "img/location.png" %} "> Eastcote,Pinner,London United Kingdom</p>
        <p>{% load static %}<img width="38" height="34" src="{% static "img/phone4.png" %} ">(+44) 07311489051</p>
        <p>{% load static %}<img width="30" height="30" src="{% static "img/email.png" %} ">&nbsp;&nbsp;&nbsp;ch.karavelas@hotmail.com</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://www.linkedin.com/in/chriskaravel" rel="noopener noreferrer" target="_blank">{% load static %}<img width="30" height="30" src="{% static "img/linkedin2.png" %} "></a>
            <a href="https://github.com/chriskaravel" rel="noopener noreferrer" target="_blank">{% load static %}<img width="31" height="34" src="{% static "img/github.png" %} "></a>
            <a href="https://www.facebook.com/karavelas" rel="noopener noreferrer" target="_blank">{% load static %}<img width="30" height="30" src="{% static "img/facebook.png" %} "></a>
            <a href="https://www.instagram.com/chris_karavel" rel="noopener noreferrer" target="_blank">{% load static %}<img width="38" height="39" src="{% static "img/instagram.png" %} "></a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <!-- <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div> -->
  <!-- Copyright -->

</footer>
<!-- Footer -->

